# Copy to .env (gitignored) and fill in.

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=memshin
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://memshin:memshin@localhost:5432/memshin?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations
